@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply poppins-font scroll-smooth antialiased overscroll-none;
}

* {
    @apply overscroll-none text-slate-600;
}

*::selection {
    @apply text-lime-200 bg-slate-700;
}

h1 {
    @apply text-5xl sm:text-7xl nunito-font font-extrabold antialiased sm:pb-10 pb-4;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}

p {
    @apply py-3 sm:py-4 antialiased text-xl sm:text-2xl xl:text-xl font-light leading-snug;
}

a {
    text-decoration: underline;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    @apply h-max flex items-center justify-center sm:py-14 py-8;
}

footer h3,
footer ul li {
    @apply text-zinc-200;
}

.policy,
.policy > ul li {
    @apply text-slate-600 text-xl font-light;
}

.social {
    @apply h-8 transition-all ease-in-out fill-white opacity-70 group-hover:fill-lime-200 hover:opacity-100;
}

.partner-logo {
    @apply h-[50px] xl:h-[50px] lg:h-[40px] max-[505px]:h-[60px];
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.poppins-font {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.fancy-border {
    border-radius: 56% 44% 30% 70% / 41% 39% 61% 59%;
}
.fancy-border-3 {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.fancy-border-2 {
    border-radius: 56% 44% 70% 30% / 66% 54% 46% 34%;
}

.background-animate {
    -webkit-animation: animateBackground 0.5s ease infinite;
    animation: animateBackground 0.5s ease infinite;
    background-size: 200%;
}

@keyframes animateBackground {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
